include ../../../node_modules/bemto.pug/bemto
include ../page/page
include ../head/head
include ../scripts/scripts

doctype html
html(lang='ru')
  +head
    block head
  +page
    block content
    +scripts(Object.values(assets.javascript))
